<div class="form-group">
  <label for="location-filter">Filter by location:</label>
  <select
    id="location-filter"
    class="form-control"
    [formControl]="locationFilter"
  >
    <option value="">All locations</option>
    <option *ngFor="let location of locations" [value]="location">
      {{ location }}
    </option>
  </select>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let item of columns" scope="col">{{ item.prop }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let product of filteredData
          | paginate : { itemsPerPage: itemsPerPage, currentPage: page };
        let i = index
      "
    >
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.location }}</td>
      <td>{{ product.price }} ₾</td>
      <td>
        <button
          class="btn btn-danger btn-sm"
          (click)="deleteProduct(product.id)"
        >
          <fa-icon [icon]="faDelete"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls
  (pageChange)="page = $event"
  previousLabel="Previous"
  nextLabel="Next"
  *ngIf="data.length > 0"
>
  > ></pagination-controls
>
